h1 {
    text-align: center;
    border: none;
    background-color: gold;
    color: black;
    margin: 0em;
}
h2 {
    
}
img {
    height: auto;
    width: 930px;
    border: solid gold;
    
}
body {
    margin: 1em 10em 3em 10em;
    padding: 10px;
    text-align: justify;
    
    background-color: whitesmoke;
    color: black;
}